.StateWiseInfo {
    box-shadow: 0px 0px 30px rgba(74, 74, 74, 0.215);
    background: rgb(210, 231, 255);
    margin: 20px;
    padding: 50px 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.StateWiseInfo div {
    width: 95%;
    margin: 10px auto;
    padding: 20px 20px;
    background: rgba(38, 139, 255, 0.502);
    box-shadow: 0px 0px 30px rgba(28, 28, 28, 0.233);
    text-align: center;
    color: white;
}

.StateWiseInfo div h4 {
    line-height: 40px;
}